.navbar {
  height: 80px;
}

.aligment {
  height: 250px;
}

.navbar-text1 {
  color: #8F9EB4;
  font-size: 48px;
  font-family: 'Raleway', sans-serif !important;
}

.navbar-brand::selection {
  color: #D1D1D1;
  background-color: #8F9EB4;
}

.navbar-text1::selection {
  color: #D1D1D1;
  background-color: #8F9EB4;
}

.btn-outline-secondary {
  height: 80px;
  font-size: 28px;
  font-family: 'Raleway', sans-serif !important;
  font-weight: bold;
  color: #8F9EB4;
  border-color: #d1d1d1;
  border-radius: 10px;
}

.btn-outline-secondary:hover {
  color: #8F9EB4;
  background-color: #dbe1e8;
}

.btn-outline-secondary:focus {
  color: #8F9EB4;
  box-shadow: none;
}

.form-control {
  height: 80px;
  border-color: #d1d1d1;
  border-radius: 10px;
  font-size: 32px;;
  font-family: 'Raleway', sans-serif !important;
  color: #8F9EB4;
  font-weight: bold;
}

.form-control::placeholder {
  color: #D1D1D1;
  font-weight: normal;
}

.form-control:focus {
  border-color: #8F9EB4;
  box-shadow: none;
  color: #8F9EB4;
}

.form-control::selection {
  color: #D1D1D1;
  background-color: #8F9EB4;
  font-weight: bold;
}
